In [1]:
import pandas as pd

In [6]:
test_df = pd.read_csv('HI-Small_Trans_processed_w_original_test.csv')
print(test_df.shape)
test_df = test_df.drop_duplicates()
print(test_df.shape)
test_df.head()

(1069155, 18)
(1069155, 18)

,Timestamp,FromAccount,ToAccount,FromBank,ToBank,ReceivingCurrency,PaymentCurrency,PaymentFormat,AmountPaid,AmountReceived,From Bank,To Bank,Account,Account.1,Receiving Currency,Payment Currency,Payment Format,Is Laundering
0,2022-09-06 00:45:00,281020,2,19,598,13,13,3,1391409.78,1391409.78,24,10057,803A6D150,803AA8E90,Yen,Yen,Cheque,0
1,2022-09-06 12:22:00,152746,2,81,598,13,13,3,1983640.26,1983640.26,1686,10057,800F2FE90,803AA8E90,Yen,Yen,Cheque,0
2,2022-09-06 12:09:00,152746,2,81,598,13,13,4,1481597.58,1481597.58,1686,10057,800F2FE90,803AA8E90,Yen,Yen,Credit Card,0
3,2022-09-07 23:21:00,152746,2,81,598,13,13,3,1983640.26,1983640.26,1686,10057,800F2FE90,803AA8E90,Yen,Yen,Cheque,0
4,2022-09-07 23:05:00,152746,2,81,598,13,13,4,1481597.58,1481597.58,1686,10057,800F2FE90,803AA8E90,Yen,Yen,Credit Card,0

In [7]:
train_df = pd.read_csv('HI-Small_Trans_processed_w_original_train.csv')
print(train_df.shape)
train_df = train_df.drop_duplicates()
print(train_df.shape)
train_df.head()

(4009181, 18)
(4009181, 18)

,Timestamp,FromAccount,ToAccount,FromBank,ToBank,ReceivingCurrency,PaymentCurrency,PaymentFormat,AmountPaid,AmountReceived,From Bank,To Bank,Account,Account.1,Receiving Currency,Payment Currency,Payment Format,Is Laundering
0,2022-09-01 00:20:00,6530,6530,8,8,12,12,5,3697.34,3697.34,10,10,8000EBD30,8000EBD30,US Dollar,US Dollar,Reinvestment,0
1,2022-09-01 00:20:00,358174,176809,109,0,12,12,3,0.01,0.01,3208,1,8000F4580,8000F5340,US Dollar,US Dollar,Cheque,0
2,2022-09-01 00:00:00,358476,358476,110,110,12,12,5,14675.57,14675.57,3209,3209,8000F4670,8000F4670,US Dollar,US Dollar,Reinvestment,0
3,2022-09-01 00:02:00,74640,74640,10,10,12,12,5,2806.97,2806.97,12,12,8000F5030,8000F5030,US Dollar,US Dollar,Reinvestment,0
4,2022-09-01 00:06:00,6538,6538,8,8,12,12,5,36682.97,36682.97,10,10,8000F5200,8000F5200,US Dollar,US Dollar,Reinvestment,0

In [8]:
train_df['Is Laundering'].value_counts()

Is Laundering
0    4005109
1       4072
Name: count, dtype: int64

In [9]:
test_df['Is Laundering'].value_counts()

Is Laundering
0    1068050
1       1105
Name: count, dtype: int64